Rover.json
[{"id":"6c6ef85a.ef5018","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b75364b3.4e91c8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"53f9865b.de9e58","type":"nodebot","z":"","name":"FW","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"tcplisten","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":""},{"id":"ea139917.75c8b8","type":"function","z":"6c6ef85a.ef5018","name":"Move!","func":"\nvar msg1 = { payload: 0 };\nvar msg2 = { payload: 0 };\nvar msg3 = { payload: 0 };\nvar msg4 = { payload: 0 };\n\nif (msg.payload == \"Reverse\") {\n    console.log(\"Reverse\");\n    msg1.payload = 0;\n    msg2.payload = 100;\n    msg3.payload = 0;\n    msg4.payload = 0;\n}else if (msg.payload == \"Forward\") {\n    console.log(\"Forward\");\n    msg1.payload = 100;\n    msg2.payload = 0;\n    msg3.payload = 0;\n    msg4.payload = 0;\n}else if (msg.payload == \"Right\") {\n    console.log(\"Right\");\n    msg1.payload = 0;\n    msg2.payload = 0;\n    msg3.payload = 100;\n    msg4.payload = 0;\n}else if (msg.payload == \"Left\") {\n    console.log(\"Left\");\n    msg1.payload = 0;\n    msg2.payload = 0;\n    msg3.payload = 0;\n    msg4.payload = 100;\n}else if (msg.payload == \"ForwardRight\"){\n    msg1.payload = 100;\n    msg2.payload = 0;\n    msg3.payload = 100;\n    msg4.payload = 0;\n}else if (msg.payload == \"ForwardLeft\"){\n    msg1.payload = 100;\n    msg2.payload = 0;\n    msg3.payload = 0;\n    msg4.payload = 100;\n}else if (msg.payload == \"ReverseRight\"){\n    msg1.payload = 0;\n    msg2.payload = 100;\n    msg3.payload = 100;\n    msg4.payload = 0;\n}else if (msg.payload == \"ReverseLeft\"){\n    msg1.payload = 0;\n    msg2.payload = 100;\n    msg3.payload = 0;\n    msg4.payload = 100;\n}else if (msg.payload == \"Stop\"){\n    msg1.payload = 0;\n    msg2.payload = 0;\n    msg3.payload = 0;\n    msg4.payload = 0;\n}\n\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"x":370,"y":260,"wires":[["c0e67830.185408","7642c6af.567c38"],["c0e67830.185408","90226dfb.e873a"],["57117719.65b468"],["d12ecb96.a0a368"]]},{"id":"bb6d6fa7.0f25","type":"mqtt in","z":"6c6ef85a.ef5018","name":"Pull for movement","topic":"surveyResBM/devA","qos":"2","datatype":"auto","broker":"b75364b3.4e91c8","x":150,"y":260,"wires":[["ea139917.75c8b8"]]},{"id":"5cc8393e.755908","type":"inject","z":"6c6ef85a.ef5018","name":"Get IP","topic":"Get IP","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":120,"wires":[["8ce2ebf8.c768f8"]]},{"id":"943766fa.faab28","type":"function","z":"6c6ef85a.ef5018","name":"Prep Msg with Ip","func":"var load;\ncontext.topicName = \"BMdevA/ipaddr\";\n\ncontext.selfIP = msg.payload;\nconsole.log(context.selfIP);\nload = context.selfIP;\n\nvar mqttMsg = { topic: context.topicNmae, payload: load };\nreturn [mqttMsg];","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["1a8c19e6.93aeb6","9e1def7e.d0507"]]},{"id":"1a8c19e6.93aeb6","type":"mqtt out","z":"6c6ef85a.ef5018","name":"Push IP","topic":"BMdevA/ipaddr","qos":"","retain":"","broker":"b75364b3.4e91c8","x":680,"y":80,"wires":[]},{"id":"8ce2ebf8.c768f8","type":"ip","z":"6c6ef85a.ef5018","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":250,"y":120,"wires":[["943766fa.faab28"]]},{"id":"9e1def7e.d0507","type":"debug","z":"6c6ef85a.ef5018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"c0e67830.185408","type":"debug","z":"6c6ef85a.ef5018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":240,"wires":[]},{"id":"7642c6af.567c38","type":"rpi-gpio out","z":"6c6ef85a.ef5018","name":"","pin":"13","set":"","level":"0","freq":"100","out":"pwm","x":630,"y":320,"wires":[]},{"id":"90226dfb.e873a","type":"rpi-gpio out","z":"6c6ef85a.ef5018","name":"","pin":"11","set":"","level":"0","freq":"100","out":"pwm","x":630,"y":380,"wires":[]},{"id":"57117719.65b468","type":"rpi-gpio out","z":"6c6ef85a.ef5018","name":"","pin":"16","set":"","level":"0","freq":"200","out":"pwm","x":640,"y":440,"wires":[]},{"id":"d12ecb96.a0a368","type":"rpi-gpio out","z":"6c6ef85a.ef5018","name":"","pin":"18","set":"","level":"0","freq":"100","out":"pwm","x":620,"y":480,"wires":[]},{"id":"a707f75d.1b8058","type":"git-nodes","z":"6c6ef85a.ef5018","label":"","branch":"master","sourcebranch":"master","gitadd":"settings.js,package.json,.config.json,lib","gitrmcache":"nodes/*/x,nodes/*/y,nodes/*/z","debugging":true,"x":320,"y":420,"wires":[]}]